.gradle/
local.properties
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/dictionaries
.idea/vcs.xml
.DS_Store
build/
captures/
tools/bin/
app/no-checkin.properties
app/src/gms/google-services.json
app/src/gms/google-services.json*
app/gen/
*.keystore
app/release/app-release.apk
app/release/output-metadata.json
app/release/
app/api.properties
/.idea/assetWizardSettings.xml
.keystore
