<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.marcocipriani01.telescopetouch"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <queries>
        <package android:name="io.github.marcocipriani01.telescopetouchpro" />
    </queries>

    <application
        android:name=".TelescopeTouchApp"
        android:allowBackup="false"
        android:appCategory="productivity"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="o">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

            <!--suppress AndroidElementNotAllowed -->
            <layout android:minHeight="450dp" />

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SkyMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/sky_map"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/skymap_searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/menu_settings"
            android:screenOrientation="fullUser" />
        <activity
            android:name=".activities.ImageGalleryActivity"
            android:label="@string/sky_map_gallery"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser" />
        <activity
            android:name=".activities.ImageDisplayActivity"
            android:label="@string/sky_map_gallery"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ImageGalleryActivity" />
        </activity>
        <activity
            android:name=".activities.DiagnosticActivity"
            android:label="@string/menu_diagnostics"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.CompassCalibrationActivity"
            android:label="@string/menu_calibrate"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.ServersActivity"
            android:label="@string/host_manage"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.WebManagerActivity"
            android:label="@string/indi_web_manager"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ScreenLightActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/tap_to_exit"
            android:screenOrientation="fullUser"
            android:theme="@style/FullscreenTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/pick_location_pref"
            android:screenOrientation="fullUser" />
        <activity
            android:name=".activities.PIPCameraViewerActivity"
            android:label="@string/mount_control"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.SFTPFolderActivity"
            android:label="@string/sftp_folder"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service
            android:name=".AppForegroundService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".indi.CameraForegroundService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name=".search.SearchTermsProvider"
            android:authorities="io.github.marcocipriani01.telescopetouch.searchterms"
            android:exported="false"
            android:syncable="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.github.marcocipriani01.telescopetouch.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>