<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.marcocipriani01.telescopetouch"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <application
        android:name="io.github.marcocipriani01.telescopetouch.TelescopeTouchApp"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="fullUser"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.marcocipriani01.telescopetouch.activities.DynamicStarMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/sky_map"
            android:launchMode="singleTask"
            android:screenOrientation="userPortrait"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/skymap_searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.marcocipriani01.telescopetouch.activities.EditSettingsActivity"
            android:label="@string/menu_settings"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DynamicStarMapActivity" />
        </activity>
        <activity
            android:name="io.github.marcocipriani01.telescopetouch.activities.ImageGalleryActivity"
            android:label="@string/menu_gallery"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DynamicStarMapActivity" />
        </activity>
        <activity
            android:name="io.github.marcocipriani01.telescopetouch.activities.ImageDisplayActivity"
            android:label="@string/menu_gallery"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ImageGalleryActivity" />
        </activity>
        <activity
            android:name="io.github.marcocipriani01.telescopetouch.activities.DiagnosticActivity"
            android:label="@string/title_activity_diagnostic"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DynamicStarMapActivity" />
        </activity>
        <activity
            android:name="io.github.marcocipriani01.telescopetouch.activities.CompassCalibrationActivity"
            android:label="@string/menu_calibrate"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DynamicStarMapActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/menu_about"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ServersActivity"
            android:label="@string/host_manage"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CompassActivity"
            android:label="@string/compass"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.GoToActivity"
            android:label="@string/mount_goto"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="io.github.marcocipriani01.telescopetouch.search.SearchTermsProvider"
            android:authorities="io.github.marcocipriani01.telescopetouch.searchterms"
            android:exported="false"
            android:syncable="false" />
    </application>
</manifest>